.slider {
  display: flex;
  position: relative;

  animation: fade-in 1000ms ease;

  @keyframes fade-in {
    0% {
      //  -webkit-filter: blur(1.17rem);
      //  -o-filter: blur(1.17rem);
      //  -ms-filter: blur(1.17rem);
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      // -webkit-filter: blur(0);
      // -o-filter: blur(0);
      // -ms-filter: blur(0);
      transform: scale(1);
      opacity: 1;
    }
  }

  &__container {
    display: flex;
    padding: 0 55px;
    transition: transform 600ms ease 100ms;
    z-index: 3;
    width: 100%;
  }
  &__title {
    margin: 20px 0 0 55px;
    color: white;
  }

  &:not(&--open) .item:hover .show-details-button {
    opacity: 1;
  }

  &:not(&--open) .item:hover .content-info {
    transition: all 1000ms ease 300ms;
    opacity: 1;
  }

  &:not(&--open) .item:hover {
    transform: scale(1.4) !important;
    z-index: 4;
  }

  &:not(&--open) .item:hover .slider__container ~ .item {
    transform: translateX(-25%);
  }

  // Hover한 Item의 오른쪽 Item들을 우로 25% 이동
  //   .item:hover ~ .item {
  //     transform: translateX(25%);
  //   }
}
